name: Run Unit Tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    # - name: Install torch-harmonics
    #   run: |
    #     CWD=`pwd`
    #     echo 'Cloning repos in ${CWD}'
    #     mkdir git_repos
    #     cd git_repos
    #     git clone git@github.com:NVIDIA/torch-harmonics.git
    #     cd torch-harmonics
    #     python -m pip install -e .
    #     cd ../..
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
    - name: Install package
      run: |
        python -m pip install -e .
    - name: Test with pytest
      run: |
        pip install pytest pytest-cov
        pytest ./torch_harmonics/tests.py