name: tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
        python -m pip install parametrized
    - name: Install package
      run: |
        python -m pip install -e .
    - name: Test with pytest
      run: |
        python -m pip install pytest pytest-cov
        python -m ./torch_harmonics/tests.py